.header-global {
    .fixed-header {
        height: 50px;
        border-bottom: 1px solid $gray-300;
        line-height: 50px;
        a {
            color: black;
        }
        .center-header-link {
            a {
                border: 1px solid $gray-300;
                padding: 5px 7px;
                border-radius: 7px;
            }
        }
        
    }
}

.btn-custom {
    border: 0;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    a {
        color: white;
    }
    text-transform: none;
}
.custom-input {
    height: 3rem;
    border: 1px solid $gray-300;
    border-radius: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    &:focus {
        outline: none;
    }
}
.signup-tips {
    color: $primary;
    font-size: .75rem;
    color: #00C9FF;
}
.signup-gray-text {
    color: $gray-600;
    font-size: 0.75rem;
}
.text-gray {
    color: $gray-300;
}
.map-wrapper {
    min-height: 200px;
    #world-map {
        height: 200px;
        width: 100%;
        .jvectormap-container {
            background-color: white !important;
        }
    }
}
.notify-bonus {
    width: 180px;
    margin-top: -50px;
    margin-left: 130px;
    .card{
        border-radius: 25px;
        .card-body {
            padding: 1rem 1.5rem;
            color: white;
            i {
                font-size: 2rem;
                line-height: 3rem;
            }
            p {
                line-height: 1rem;
                &:last-of-type {
                    margin-bottom: 0rem;    
                }
            }
        }
    }
    
}
.custom-switch {
    height: 50px;
    border-radius: 25px;
    width: 100%;
    border: 1px solid $custom;
    .switch {
        float: left;
        width: 50%;
        line-height: 48px;
        padding: 0px 10px;
        font-size: .75rem;
        color: $custom;
        cursor: pointer;
        .round-circle {
            margin-top: 15px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $custom;
        }
        &.left-switch {
            .round-circle {
                float: left;
            }
            .text-part {
                margin-left: 25px;
            }
            
        }
        &.right-switch {
            .round-circle {
                float: right;
            }
            .text-part {
                float: right;
                margin-right: 15px;
            }
        }
        &.active {
            border: 1px solid $custom;
            border-radius: 25px;
            background-color: $custom;
            color: white;
            .round-circle {
                background-color: $custom-light;
                border-color: $gray-300;
            }
        }
    }
}

.carousel__indicators[data-v-6cdedfee] {
    top: 0;
    .carousel__indicator[data-v-6cdedfee] {
        &::before {
            background-color: #333 !important;
        }
    }
}
.tree-amount-card {
    .card-body {
        padding: 0.5rem 1rem;
    }
}