<template>
    <div>
        <div class="position-relative text-center">
            <base-button type="custom" class="m-5">
                <router-link to="/register">SignUp</router-link>
            </base-button>
        </div>
    </div>
</template>

<script>

export default {
  name: "home",
  components: {}
};
</script>
