<template>
    <section class="section py-1 mt-2">
        <div class="container pt-lg-sm">
            <div class="row justify-content-center">
                <div class="col-lg-5 px-3">
                    <div class="row text-center">
                        <p class="signup-tips my-1">Counter at the top starts at 0 and climbs as they spend time in the sign up process. This reaffirms the story of a tracker app</p>
                    </div>
                    <card shadow
                        class="tree-amount-card border-0">
                        <div class="row">
                            <div class="col-6 text-center">
                                <h6 class="font-weight-bold">1</h6>
                                <h6 class="text-gray">Trees Planted</h6>
                            </div>
                            <div class="col-6 text-center">
                                <h6 class="font-weight-bold">2<small>sqrt</small></h6>
                                <h6 class="text-gray">Land Preserved</h6>
                            </div>
                        </div>
                    </card>
                    <div class="text-center mx-4">
                        <p class="signup-tips my-1">Long term plan is to create an interactive map of what what projects we have around the world</p>
                    </div>
                    <my-vector-map></my-vector-map>
                    <h6 class="font-weight-bold mx-3 my-2">When did you stop believing you could change the world?</h6>
                    <h6 class="mx-3">You can plant trees and preserve around the world.</h6>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import MyVectorMap from '../components/MyVectorMap.vue'
export default {
    components: {
        MyVectorMap
    }
}
</script>