<template>
    <section class="section py-1 my-0">
        <div class="container pt-lg-sm">
            <div class="text-right">
                <router-link to="/">back</router-link>
            </div>
            <div class="row justify-content-center">
                
                <div class="col-lg-5 px-3">
                    
                    <h4 class="font-weight-bold">Start planting today</h4>
                    <p>In 1 minute, you can start planting trees, preserving land, and  building a better world.</p>

                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="custom-input" placeholder="email" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="custom-input" placeholder="username" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="custom-input" placeholder="password" />
                        </div>
                        <div class="form-group">
                            <div class="custom-switch">
                                <div class="switch left-switch" @click="ageValue = true" :class="ageValue ? 'active' : ''">
                                    <div class="round-circle"></div>
                                    <div class="text-part">I am 18 or older</div>
                                </div>
                                <div class="switch right-switch" @click="ageValue = false" :class="ageValue ? '' : 'active'">
                                    <div class="round-circle"></div>
                                    <div class="text-part">I am 16 -17</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="signup-tips text-center mx-3">
                                We need to make sure users are either the age if majority in their province or they can not purchase additional entries
                            </p>
                        </div>
                        <div class="text-center mt-5">
                            <base-button type="custom" class="mt-3">
                                <router-link to="/tree-planting">Join</router-link>
                            </base-button>
                        </div>
                        <div class="form-group">
                            <p class="signup-gray-text text-center mt-1">By clicking join you agree to the Terms & Conditions and Privacy Policy</p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            ageValue: true
        }
    }
};
</script>
