<template>
    <section class="section py-1 mt-2">
        <div class="container pt-lg-sm">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="px-3">
                        <card shadow
                            class="border-0 tree-amount-card">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <h6 class="font-weight-bold">44</h6>
                                    <h6 class="text-gray">Trees Planted</h6>
                                </div>
                                <div class="col-6 text-center">
                                    <h6 class="font-weight-bold">22<small>sqrt</small></h6>
                                    <h6 class="text-gray">Land Preserved</h6>
                                </div>
                            </div>
                        </card>
                    </div>
                    <div class="my-4 ml-5" style="width:250px;">
                        <card shadow
                            class="border-0 tree-amount-card">
                            <h5>Your Impact</h5>
                            <h4 class="font-weight-bold">150</h4>
                            <h6 class="text-gray">Trees Planted</h6>
                            <h4 class="font-weight-bold">100</h4>
                            <h6 class="text-gray">Land Preserved</h6>
                        </card>
                    </div>
                    <div class="notify-bonus">
                        <card shadow
                            type="warning"
                            class="border-0"
                            >
                            <div class="row">
                                <div class="col-3">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="col-9">
                                    <p>+ 5 trees</p>
                                    <p>+3 sqrt land</p>
                                </div>
                            </div>
                        </card>
                    </div>
                    <div class="mx-3 my-2">
                        <h6 class="font-weight-bold m-3">We track your impact,</h6> 
                        <h6 class="mx-3">and you create an environmentally clean life by offsetting your footprint.</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
