<template>
	<div>
		<div class="text-right mr-3">
			<a @click="goPrevious" class="text-second">back</a>
		</div>	
		<carousel 
			:data="data" 
			indicator-type="disc" 
			:autoplay="false" 
			:controls="false"
			ref="my-slide">
		</carousel>
		<div class="text-center my-2">
			<base-button type="custom" @click="goNext">
				Next
			</base-button>
		</div>
	</div>
</template>
<script>

export default {
	component: {
	},
	data() {
		return {
			data: [
				'<map-view></map-view>',
				'<track-view></track-view>',
				'<winner-view></winner-view>'
			]
		}
	},
	methods: {
		goNext() {
			if (this.$refs['my-slide'].index == 2) {
				this.$router.push({ name: 'home' })
			} else {
				this.$refs['my-slide'].next()
			}
		},
		goPrevious() {
			if (this.$refs['my-slide'].index == 0) {
				this.$router.push({ name: 'home' })
			} else {
				this.$refs['my-slide'].prev()
			}
		}
	}
}
</script>
