<template>
    <section class="section py-1 mt-2">
        <div class="container pt-lg-sm">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="px-3">
                        <card shadow
                            class="border-0 tree-amount-card">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <h6 class="font-weight-bold">99</h6>
                                    <h6 class="text-gray">Trees Planted</h6>
                                </div>
                                <div class="col-6 text-center">
                                    <h6 class="font-weight-bold">53<small>sqrt</small></h6>
                                    <h6 class="text-gray">Land Preserved</h6>
                                </div>
                            </div>
                        </card>
                    </div>
                    <div class="m-3">
                        <img src="@/assets/img/winner-img.png" class="w-100" alt="WInner Image"/>
                    </div>
                    <div class="m-3">
                        <h5 class="font-weight-bold m-3">Every week you get an entry to the wekkly peize!</h5> 
                        <h6 class="mx-3">For every tree you plant and every square foor of land you preserve you get a new entry.</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
