<template>
    <div class="map-wrapper">
        <div id="world-map"></div>
    </div>
</template>
<script>
export default {
    name: 'WorldMap',
    mounted() {
        this.initMap()
    },
    methods: {
        initMap() {
            const usMap = $('#world-map')
            usMap.empty()
            usMap.vectorMap({
                map: 'world_mill_en',
                backgroudColor: 'transparent',
                zoomOnScroll: false,
                zoomButtons: false,
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0,
                    },
                },
                series: {
                    regions: [{
                        values: []
                    }]
                }
            })
        }
    }
}
</script>