<template>
  <header class="header-global">
    <div class="row fixed-header m-2">
      <div class="text-left col-4">
        <router-link to="#">
          <i class="fa fa-search"></i>
        </router-link>
      </div>
      <div class="text-center col-4">
        <div class="center-header-link">
          <router-link to="#">
            <i class="fa fa-users"></i>
          </router-link>
        </div>
        
      </div>
      <div class="text-right col-4">
        <router-link to ="#">
          <i class="fa fa-align-right"></i>
        </router-link>
      </div>
    </div>
  </header>
</template>
<script>

export default {
  components: {
  }
};
</script>
<style>
</style>
